<div class="ladytop">
            <div class="nav">
                <div class="left"><a href=""><img src="__PUBLIC__/images
/hunshang.png" alt="wed114婚尚"></a></div>

                <div class="right">
                    <div class="box">
                    <a href="{:url('index/index')}"  rel='dropmenu209'>首页</a> 
                     {volist name="cateres" id="vo"}
                        <a href="{:url('cate/index',array('cateid'=>$vo['id']))}"  rel='dropmenu209'>{$vo.catename}</a> 
                     {/volist}
                    </div>
                </div>
            </div>
        </div>

<div class="hotmenu">
	<div class="con">
    Welcome my friends
    </div>
</div>
